<nav style="display: flex; gap: 1em;">
  <a [routerLink]="AppRoutes.History">History</a>
  <a [routerLink]="AppRoutes.Projects">Projects</a>
</nav>

<main>
  <button class="track-button" (click)="track()">
    TRACK
  </button>

  <form [formGroup]="trackForm" class="inputs">
    <div class="time-inputs">
      <div>
        <span>von: </span>
        <input type="time" formControlName="start">
      </div>

      <div>
        <span>bis: </span>
        <span>
          <input type="time" formControlName="end">
          <mat-slide-toggle formControlName="doTrackUntilNow"></mat-slide-toggle>
          <span>JETZT</span>
        </span>
      </div>

    </div>

    <div class="input-and-label">
      <label>Projekt:</label>
      <input type="text"
             formControlName="project"
             [matAutocomplete]="auto"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let project of filteredProjects | async" [value]="project">{{project}}</mat-option>
      </mat-autocomplete>
    </div>

    <div class="input-and-label">
      <label>Kommentar:</label>
      <textarea formControlName="comment" rows="5">
      </textarea>
    </div>
  </form>

  <div>
    <p>worked today: {{workedToday}}</p>
  </div>

  <div>
    <ul>
      <li *ngFor="let project of timesPerProject | keyvalue">
        {{project.key}}: {{trackService.getWorkedTimeString(project.value.worked)}} ___ {{project.value.comments}}
      </li>
    </ul>
  </div>

</main>

<!--
<div>
  <h4>Pomodoro Mode</h4>
  <button (click)="startPomodoro()" [disabled]="isStarted">Start</button>

  <div>
    <h6>
      <a href="obsidian://open?vault=Obsidian&file=Life%20OS%2F%C3%9Cbungen%20zusammenschreiben%20und%20Routine%20aufbauen">
        Übungen
      </a>
    </h6>
  </div>
</div>
-->



