<nav>
  <a [routerLink]="AppRoutes.Home">Home</a>
</nav>

<button (click)="changeWeek(-1)">zurück</button>
<button (click)="changeWeek(1)">vorwärts</button>
<div>
  <ul *ngFor="let timesPerDay of timesPerDays">
    <p class="day-info">
      {{timesPerDay.totalHours}} worked on {{timesPerDay.date | date:'dd.MM.yyyy'}}:
    </p>
    <li *ngFor="let timesPerProject of timesPerDay.timesPerProject">
      {{timesPerProject.project}}: {{trackService.getWorkedTimeString(timesPerProject.worked)}} ___ {{timesPerProject.comments}}
    </li>
  </ul>
</div>
